@font-face {
  font-family: Lato;
  src: url("../fonts/Lato/Lato-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src: url("../fonts/segoe-ui-4-cufonfonts-webfont/Segoe\ UI.woff");
}
@font-face {
  font-family: Poppins;
  src: url("../fonts//Poppins/Poppins-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  cursor: pointer;
}
input {
  outline: none;
}
a {
  text-decoration: none;
}
